@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}
