@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu&display=swap");
* {
  font-family: Outfit;
}
@media (max-width: 740px) {
  .active p {
    color: white;
    background-color: #6366f1;
  }
}

.active hr {
  display: block;
}
::-webkit-scrollbar {
  display: none;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
